:root {
  --dark-one: #333;
  --dark-two: #7a7a7a;
  --light-one: #fff;
  --light-two: #f9fafb;
  --light-three: #f6f7fb;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
  background-position: center;
  background-size: center;
}

.navbar {
  width: 90%;
  padding: 30px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 160px;
  margin-top: -10px;
  cursor: pointer;
}

.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 15px;
}

.navbar ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
  padding: 5px;
}

li a:hover {
  background: white;
  transition: 0.6s;
}

.navbar a:hover {
  color: black;
}

.content {
  width: 100%;
  position: absolute;
  color: white;
  top: 60%;
  transform: translateY(-70%);
  text-align: center;
}

.content h1 {
  margin-top: 80px;
  font-size: 70px;
  font-weight: 800;
}

button {
  width: 200px;
  padding: 15px;
  margin: 20px 5px;
  text-align: center;
  border-radius: 25px;
  color: black;
  border: 2px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
}
button:hover {
  background: rgb(113, 64, 44);
  transition: 0.5s;
}
button:hover {
  color: white;
}
.banner video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  .banner video {
    width: 100%;
    height: auto;
  }
}

/* Albums */
.albums {
  background-color: #fff;
  /* Additional styling for the albums section */
}
.section-header {
  display: flex;
  flex-direction: column; /* Arrange items in a column */
  align-items: center; /* Align items to the center horizontally */
  max-width: 600px; /* Adjust the maximum width as needed */
  margin: auto;
  position: relative; /* Add relative positioning */
}

.title {
  text-align: center; /* Align the title in the center */
  margin-bottom: 10px; /* Adjust spacing between the title and text */
  margin-top: 20px; /* Add margin to the top of the title */
  font-size: 2em; /* Increase the font size of the title */
}

.text {
  text-align: center; /* Align the text in the center */
  font-size: 1.5em; /* Increase the font size of the text */
  color: #000;
}

.section-header::after {
  content: "";
  display: block;
  width: 100px; /* Adjust the width of the red bar */
  height: 4px; /* Adjust the height of the red bar */
  background-color: red; /* Red color for the bar */
  margin: 10px auto; /* Adjust margin to position the bar */
}

.cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 110%;
}

.card-wrap {
  position: relative;
  margin: 2rem 0.8rem;
  width: calc(25% - 1rem); /* Set width for each card-wrap */
}

.card {
  position: relative;
  width: 100%;
  height: 350px; /* Set a fixed height for all cards */
  background-color: #f6f6fb;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 3rem 2rem;
  overflow: hidden;
  transition: 0.3s;
}

.card:before {
  content: attr(data-card);
  position: absolute;
  top: -15px;
  right: -15px;
  font-size: 6rem;
  font-weight: 800;
  line-height: 1;
  color: var(--main-color);
  opacity: 0.025;
}

.card:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0px;
  bottom: 0;
  left: 0;
  background-color: #c30010;
  transition: 0.3s;
}

.card .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  transition: all 0.3s ease;
  border-radius: 20px;
}

.card .btn:hover {
  background-color: #333; /* Change background color on hover */
  color: #fff; /* Change text color on hover */
}

.card-wrap:hover .card {
  transform: translateY(-15px);
}

.card-wrap:hover .card:after {
  height: 8px;
}

.icon {
  width: 230px;
  margin-bottom: 1.7rem;
}

.card .title-sm {
  line-height: 1.2;
  color: #000;
}

/* End Albums */

/* About */

.about {
  overflow: hidden;
}

.about img {
  max-width: 960px;
  margin-left: auto; /* Shift the image to the right */
  display: block; 
  margin-top: 1px;
}

.about .text {
  margin-top: 1rem;
}

.about .column-1 {
  position: relative;
}

.about .column-1:before {
  content: "About";
  position: absolute;
  font-size: 8rem;
  font-weight: 800;
  color: var(--main-color);
  opacity: 0.04;
  top: 20px;
  left: 0;
  line-height: 0;
}

/* End About */

/* testimonial */

.testimonial-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.testimonial-wrap {
  position: relative;
  margin: 1.3rem 0.5rem;
}

.testimonial-card:after {
  content: "";
  position: absolute;
  width: 1100%;
  height: 0px;
  bottom: 0;
  left: 0;
  background-color: #c30010;
  transition: 0.3s;
}

.testimonial-image {
  width: 100%;
  height: 270px;
  position: relative;
  overflow: hidden;
}

.testimonial-image img {
  position: absolute;
  height: 105%;
  width: initial;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.testimonial-content {
  padding: 2.1rem 2.2rem 2.7rem 2.2rem;
}

.testimonial-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

.testimonial-info h5 {
  color: #c30010;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.05rem;
  letter-spacing: 2px;
}

.testimonial-date {
  margin-right: 2rem;
}

.testimonial-text {
  margin: 0.5rem 0 1.5rem 0;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #666;
}

.btn.small {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 20px; /* Adjust the border-radius for curved buttons */
  background-color: #3a5311;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.btn.small:hover {
  background-color: #c30010; /* Change color on hover */
}

/* Adjusting button visibility and positioning */
.testimonial-card {
  position: relative;
  max-width: 420px;
  width: 100%;
  overflow: hidden;
  background-color: var(--light-two);
  transition: 0.3s;
  position: relative;
}

.testimonial-card:hover {
  transform: translateY(-15px);
}

.testimonial-card:hover:after {
  height: 8px;
}

.testimonial-card:hover .testimonial-image img {
  transform: translate(-50%, -50%) scale(1.15);
}

/* End testimonial */

/* Records */

.records {
  position: relative;
  background-color: #2a3923;
  padding: 5.2rem 0;
}

.records .container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
}

.record-circle {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin: 0 auto;
  border: 4px solid var(--light-one);
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--light-one);
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.record-circle.active {
  background-color: var(--light-one);
  color: var(--dark-one);
  box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.5);
}

.number {
  font-weight: 400;
  font-size: 2.35rem;
}

.sub-title {
  font-weight: 400;
  font-size: 1.12rem;
  text-transform: uppercase;
}

/* End Records */

/* contact Us */

section {
  position: relative;
  z-index: 3;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.section-header {
  margin-bottom: 20px;
  text-align: center;
}

.section-header h2 {
  color: #000;
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 20px;
}

.section-header p {
  color: #000;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contactus-info {
  width: 50%;
}

.contactus-info-item {
  display: flex;
  margin-bottom: 30px;
}

.contactus-info-icon {
  height: 70px;
  width: 70px;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
}

.contactus-info-icon i {
  font-size: 30px;
  line-height: 70px;
}

.contactus-info-content {
  margin-left: 20px;
}

.contactus-info-content h4 {
  color: #c30010;
  font-size: 1.4em;
  margin-bottom: 5px;
}

.contactus-info-content p {
  color: #000;
  font-size: 1em;
}

.contactus-form {
  background-color: #fff;
  padding: 40px;
  width: 45%;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contactus-form h2 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 10px;
  color: #333;
}

.contactus-form .input-box {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactus-form .input-box input,
.contactus-form .input-box textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactus-form .input-box span {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactus-form .input-box input:focus ~ span,
.contactus-form .input-box textarea:focus ~ span {
  color: #e91e63;
  font-size: 12px;
  transform: translateY(-20px);
}

.contactus-form .input-box input[type="submit"] {
  width: 100%;
  background: #c30010;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #c30010;
  transition: 0.5s;
}

.contactus-form .input-box input[type="submit"]:hover {
  background: #fff;
  color: #c30010;
}

@media (max-width: 991px) {
  section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .row {
    flex-direction: column;
  }

  .contactus-info {
    margin-bottom: 40px;
    width: 100%;
  }

  .contactus-form {
    width: 100%;
  }
}

/* End contactusus */

/* Footer */

.footer {
  background-color: #222;
  padding: 6rem 0;
}

.footer .grid-4 {
  display: grid;
  grid-template-columns: 3.5fr 2fr 2fr 3fr;
}

.grid-4-col {
  padding: 0 1.7rem;
}

.footer .title-sm {
  color: #fafafa;
  margin-bottom: 0.9rem;
}

.footer .text {
  color: #aaa;
}

.footer-links ul,
.footer-links ol {
  list-style: none; /* Remove bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.footer-links a {
  color: #888;
  font-size: 1.25rem;
  display: block;
  margin-bottom: 0.4rem;
  transition: 0.3s;
  text-decoration: none; /* Remove underlines */
}

.footer-links a:hover {
  color: #c30010;
}

.footer-input-wrap {
  display: grid;
  grid-template-columns: auto 50px;
  width: 100%;
  height: 50px;
  border-radius: 30px;
  overflow: hidden;
  margin-top: 1.2rem;
}

.footer-input {
  background: #373737;
  color: #333;
  outline: none;
  border: none;
  padding: 0 1.5rem;
  font-size: 1.1rem;
  transition: 0.3s;
}

.input-arrow {
  color: #000;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.45rem;
  transition: 0.3s;
}

.input-arrow:hover {
  background-color: #c30010;
}

.focus {
  background: #fff;
}

.bottom-footer {
  margin-top: 5.5rem;
  padding: 0 1.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright .text {
  color: #7b7b7b;
  font-size: 1.2rem;
  display: inline-block;
  text-align: center;
}

.copyright .text span {
  color: var(--main-color);
  cursor: pointer;
}

.followus-wrap {
  display: flex;
}

.followus {
  display: flex;
  align-items: center;
}

.followus h3 {
  color: #7b7b7b;
  font-weight: 500;
  font-size: 1.3rem;
}

.followus .footer-line {
  width: 60px;
  height: 2px;
  background-color: #7b7b7b;
  margin: 0 1.2rem;
  display: inline-block;
}

.social-media a {
  color: #7b7b7b;
  font-size: 1.3rem;
  margin-right: 1rem;
  transition: 0.3s;
}

.social-media a:hover {
  color: #c30010;
}

.back-btn-wrap {
  position: relative;
  margin-left: 2.5rem;
}

.back-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55px;
  width: 55px;
  background-color: #fff;
  border-radius: 50%;
  color: #000;
  font-size: 1.2rem;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.15);
  transition: 0.3s;
  position: relative;
  z-index: 2;
}

.back-btn:hover {
  background-color: #c30010;
}

.back-btn-wrap:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 30px;
  background-color: #fff;
  z-index: 1;
  top: 50%;
  left: 6%;
  transform: translate(-50%, -50%) scale(0.7);
  border-radius: 50%;
  opacity: 0.08;
  animation: scale 1.2s ease-out infinite 1s;
}

@keyframes scale {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 0.15;
  }

  100% {
    transform: translate(-50%, -50%) scale(1.6);
    opacity: 0;
  }
}

/* End Footer */

/* Responsive */

@media (max-width: 1280px) {
  .text {
    font-size: 1rem;
  }

  .title {
    font-size: 2.1rem;
    padding-bottom: 0.65rem;
  }

  .title:before {
    margin-bottom: 0.2rem;
    font-size: 0.8rem;
    letter-spacing: 2px;
  }

  .title:after {
    height: 3.5px;
    width: 70px;
  }

  .title-sm {
    font-size: 1.2rem;
  }

  .btn {
    padding: 0.75rem 1.7rem;
    font-size: 0.8rem;
  }

  .btn.small {
    padding: 0.65rem 1.6rem;
    font-size: 0.7rem;
  }

  .section-header .text {
    max-width: 500px;
  }

  .section {
    padding: 4.5rem 0;
  }

  .column-1 {
    margin-right: 1rem;
  }

  .column-2 {
    margin-left: 1rem;
  }

  .overlay.overlay-lg .shape {
    height: 35px;
  }

  .overlay.overlay-lg .shape.wave {
    height: initial;
    width: 63px;
  }

  .overlay.overlay-lg .shape.xshape {
    height: 24px;
  }

  .overlay.overlay-sm .shape {
    height: 24px;
  }

  .overlay.overlay-sm .shape.wave {
    height: initial;
    width: 39px;
  }

  .overlay.overlay-sm .shape.xshape {
    height: 19px;
  }

  header .points1 {
    width: 270px;
    bottom: -50px;
    left: -75px;
  }

  header .points2 {
    width: 340px;
  }

  header .letters {
    width: 11%;
  }

  .header-content .image .img-element {
    max-width: 500px;
  }

  nav .container {
    height: 4.5rem;
  }

  .header-content .container.grid-2 {
    min-height: calc(100vh - 4.5rem);
    padding-bottom: 1.5rem;
  }

  .logo {
    width: 65px;
  }

  .links a {
    font-size: 0.8rem;
    padding: 0.65rem 0.7rem;
  }

  .links a.active {
    font-size: 0.7rem;
    padding: 0.7rem 1.7rem;
    margin-left: 0.6rem;
  }

  .header-title {
    font-size: 2.6rem;
  }

  .header-content .text {
    margin: 1.1rem 0;
    font-size: 3rem;
  }

  .card {
    min-height: 390px;
    max-width: 290px;
    padding: 2.2rem 1.5rem;
  }

  .icon {
    width: 250px;
    margin-bottom: 0.8rem;
  }

  .card .text {
    font-size: 0.9rem;
    margin: 1rem 0;
  }

  .card:before {
    font-size: 5rem;
  }

  .card-wrap {
    margin: 1rem 2.5rem;
  }

  .background-bg {
    height: 370px;
  }

  .record-circle {
    width: 150px;
    height: 150px;
    border-width: 3px;
  }

  .record-circle .number {
    font-size: 1.8rem;
  }

  .record-circle .sub-title {
    font-size: 0.9rem;
  }

  .testimonial-wrap {
    margin: 0.7rem 0.5rem;
  }

  .testimonial-card {
    max-width: 315px;
  }

  .testimonial-image {
    height: 200px;
  }

  .testimonial-content {
    padding: 1.8rem 1.7rem 1.9rem 1.7rem;
  }

  .testimonial-info {
    margin-bottom: 0.2rem;
  }

  .testimonial-info > * {
    font-size: 0.75rem !important;
  }

  .testimonial-user i {
    font-size: 0.8rem;
  }

  .testimonial-text {
    font-size: 0.9rem;
    margin: 0.2rem 0 0.8rem 0;
  }

  .rate {
    font-size: 1.15rem;
    margin-bottom: 1.1rem;
  }

  .contactusus {
    padding: 9rem 0 6rem 0;
  }

  .contactusus-form {
    padding-left: 1rem;
  }

  .contactusus-info {
    padding-right: 1rem;
  }

  .contactusus-box {
    padding: 3.6rem 3rem;
  }

  .information-wrap {
    margin-top: 1.2rem;
  }

  .contactusus-icon {
    min-width: 50px;
    height: 50px;
    font-size: 1rem;
    margin-right: 0.8rem;
  }

  .contactusus-icon i {
    line-height: 50px;
  }

  .info-text {
    font-size: 1.05rem;
  }

  .contactusus-input {
    font-size: 0.9rem;
    padding: 0.9rem 1.6rem;
    margin: 0.4rem 0;
  }

  .hireme {
    padding: 8rem 0;
  }

  .footer {
    padding: 4rem 0;
  }

  .footer-links a {
    font-size: 1rem;
  }

  .footer .title-sm {
    margin-bottom: 0.5rem;
  }

  .footer-input-wrap {
    height: 36px;
    margin-top: 0.8rem;
  }

  .footer-input {
    font-size: 0.9rem;
    padding: 0 1.2rem;
  }

  .input-arrow {
    font-size: 1.2rem;
  }

  .copyright .text {
    font-size: 0.95rem;
  }

  .followme h3 {
    font-size: 1.05rem;
  }

  .followme .footer-line {
    margin: 0 0.8rem;
  }

  .social-media a {
    font-size: 1.05rem;
  }

  .back-btn-wrap {
    margin-left: 1.3rem;
  }

  .back-btn {
    width: 43px;
    height: 43px;
    font-size: 0.9rem;
  }

  .back-btn-wrap:before {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: 850px) {
  .grid-2 {
    grid-template-columns: 1fr !important;
  }

  .column-1 {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .column-2 {
    margin-left: 0;
    margin-top: 1rem;
  }

  .hamburger-menu {
    display: flex;
  }

  .header-content {
    margin-top: 1rem;
  }

  .header-title {
    font-size: 2.3rem;
  }

  .header-content .image {
    max-width: 400px;
    margin: 0 auto;
  }

  header .column-1 {
    max-width: 550px;
    margin: 0 auto;
  }

  .links {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: translateX(100%);
    transition: 0.5s;
  }

  .links ul {
    flex-direction: column;
  }

  .links a {
    color: var(--light-one);
  }

  .links a.active {
    margin-left: 0;
    margin: 0.5rem 0;
  }

  .header-content .container.grid-2 {
    min-height: 80vh;
  }

  .grid-item {
    width: 50%;
  }

  .gallery-image {
    height: 210px;
    max-width: 270px;
  }

  .background-bg {
    height: 340px;
  }

  .about .column-1:before {
    font-size: 5rem;
  }

  .testi-content {
    margin-top: 1.7rem;
  }

  .testi-content .image {
    max-width: 500px;
    margin: 0 auto;
  }

  .review-nav {
    bottom: 3rem;
  }

  .contactus-box {
    grid-template-columns: 1fr;
    padding: 3.2rem 2.7rem;
  }

  .contactus-info {
    padding-right: 0;
    padding-bottom: 0.5rem;
  }

  .contactus-form {
    padding-left: 0;
    padding-top: 0.5rem;
  }

  .information-wrap {
    margin-top: 0.7rem;
  }

  .information:not(:last-child) {
    margin-bottom: 0.8rem;
  }

  .contactus-input.textarea {
    min-height: 220px;
  }

  .contactus:before {
    height: 25%;
  }

  .contactus:after {
    height: 75%;
    top: 25%;
  }

  .footer .grid-4 {
    grid-template-columns: repeat(2, 1fr);
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }

  .footer-about {
    grid-column: 1 / 3;
  }

  .footer-newstletter {
    grid-column: 1 / 3;
  }

  .grid-4-col {
    margin: 1rem 0;
    padding: 0;
  }

  .footer-input-wrap {
    max-width: 300px;
    margin: 0.95rem auto 0 auto;
    grid-template-columns: auto 45px;
  }

  .bottom-footer {
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding: 1.5rem 0 0 0;
    margin-top: 2.5rem;
    position: relative;
  }

  .bottom-footer:before {
    content: "";
    position: absolute;
    width: 90%;
    max-width: 500px;
    height: 1px;
    background-color: #7b7b7b;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .followme-wrap {
    margin-top: 0.8rem;
  }
}

@media (max-width: 600px) {
  .grid-item {
    width: 100%;
  }
}

@media (max-width: 560px) {
  .container {
    padding: 0 2rem;
  }

  .title {
    font-size: 1.8rem;
  }

  .text {
    font-size: 0.92rem;
  }

  .overlay.overlay-lg .shape {
    height: 28px;
  }

  .overlay.overlay-lg .shape.wave {
    height: initial;
    width: 52px;
  }

  .overlay.overlay-lg .shape.xshape {
    height: 22px;
  }

  .records .container {
    grid-template-columns: 1fr;
  }

  .records .half-circle {
    top: 50%;
    left: 50px;
  }

  .records .wave2 {
    bottom: 50%;
    right: 20px;
    left: initial;
  }

  .records .xshape {
    right: 70px;
  }

  .testi-content {
    margin-top: 1rem;
  }

  .review {
    padding: 1.5rem 1rem;
  }

  .review-text {
    font-size: 0.9rem;
  }

  .review-nav {
    bottom: 1.5rem;
    font-size: 1.3rem;
  }
}

/* End Responsive */
